{
  :paths ["src"]
  :deps {org.clojure/clojure {:mvn/version "1.12.0"}}

  :aliases {
    :cli {
      :main-opts
        ["--main" "regex-cli.core"]}

    :web-release {
      :extra-deps {org.clojure/clojurescript {:mvn/version "1.12.134"}}
      :main-opts
        ["--main" "cljs.main" "--compile-opts" "web-compile-deps.edn" "-O" "advanced" "--compile" "regex-web.app"]}

    :web-debug {
      :extra-deps {
        org.clojure/clojurescript {:mvn/version "1.12.134"}
        }
      :main-opts
        ["--main" "cljs.main" "--compile-opts" "web-compile-deps.edn" "-O" "none" "--compile" "regex-web.app"]}}}
